html, body {
	height: 100%;
	width: 100%;
}
body{
    display: inline-block;
}
.pirozhok {
    color: #b2b2b2;
    padding: 10px;
}

.line_in_pirozhok {
    padding: 0px;
    margin: 4px;
}

.author {
    color: #383832;
    text-align: left;
    background-color: #b2b2b2;
    padding: 10px;
}
.side {
    width: 25%;
    height: inherit;
    background-color: #212121;
    float: left;
}
.middle {
    width: 50%;
    float: left;
    height: inherit;
    background-color: #212121;
    text-align: center;
}

.block {
    display: block;
    width: 35%;
    background-color: #383832;
    margin: 3% auto auto auto;
    -webkit-box-shadow: 8px 8px 0px -5px rgba(166,255,0,1);
    -moz-box-shadow: 8px 8px 0px -5px rgba(166,255,0,1);
    box-shadow: 8px 8px 0px -5px rgba(166,255,0,1);
    alignment: center;
}
